// keep first line
#index
  --tw-prose-headings: #fff
  --tw-prose-body: theme('colors.gray.300')
  --tw-prose-code: theme('colors.gray.300')
  --tw-prose-links: #fff
  --tw-prose-pre-bg: theme('colors.gray.400')
  --tw-prose-pre-code: theme('colors.gray.900')
  --tw-prose-quotes: theme('colors.gray.500')
  --tw-prose-quote-borders: theme('colors.gray.600')
  code
    &::before,
    &::after
      @apply hidden

html
  @apply h-full bg-gradient-to-b from-gray-800 to-black     
  input
    @apply focus:ring-transparent #{!important}


div[style="position: absolute; pointer-events: none; color: rgba(130, 130, 130, 0.62); z-index: 100000; width: 100%; text-align: center; bottom: 50%; right: 0px; letter-spacing: 5px; font-size: 24px;"]
  @apply hidden