// keep first line
#index
  --tw-prose-headings: #fff
  --tw-prose-body: theme('colors.gray.400')
  --tw-prose-links: #fff
  --tw-prose-pre-bg: theme('colors.gray.400')
  --tw-prose-pre-code: theme('colors.gray.900')

